.segmentRule{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
.resultLabel{
    width: 100%;
}
.downloadButton{
    margin-left: 45px !important;
}
.baseModel{
    margin-top: 40px;
    margin-left: 149px;

}
.segmentRules{
   
    width: 30%;
}
#segment{
    display: flex;
}