asgiref
backports.zoneinfo
catboost
cycler
Django
django-cors-headers
django-jsonfield
djangorestframework
fonttools
graphviz
imbalanced-learn
imblearn
joblib
kiwisolver
lightgbm
matplotlib
numpy
packaging
pandas
Pillow
plotly
pyparsing
python-dateutil
pytz
scikit-learn
scikit-plot
scipy
seaborn
six
sqlparse
tenacity
threadpoolctl
tzdata
xgboost
